<li id="new_instruction">
	<div class="timeline-badge success"><i class="fa fa-plus"></i>
	</div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="timeline-title">Add another instruction</h4>
		</div>
		<div class="timeline-body">
			<%= form_for @new_instruction, remote: true, html: { multipart: true }, authenticity_token: true do |f| %>
 			<%= f.hidden_field :lesson_id, value: @lesson.id  %>
			<div class="form-group">
				<%= f.label :text, class: "control-label" %>
				<%= f.text_field :text, class: "form-control"  %>
			</div>
			<div class="form-group">
				<%= f.label :image_url, class: "control-label" %>
				<%= f.text_field :image_url, class: "form-control"  %>
			</div>
			<div class="form-group">
				<%= f.label :video_url, class: "control-label" %>
				<%= f.text_field :video_url, class: "form-control"  %>
			</div>
 			<div class="form-group">
				<%= f.label "Image or Gif Upload", class: "control-label" %>
  				<%= f.file_field :avatar %>			
  			</div>
 			<div class="form-group">
				<%= f.submit 'Add', class: 'btn btn-success' %>
			</div>
			<% end %>

		</div>
	</div>
</li>