<li class="instruction" id="instruction_<%= instruction.id %>">
    <div class="timeline-badge info"><i class="timeline-index fa fa-graduation-cap"></i><span class="timeline-index"><%= instruction.display_index %></span>
    </div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4 class="timeline-title"><%= instruction.text %></h4>
        </div>
        <div class="timeline-body">
            <div class="row">
                <div class="col-lg-12">
                    <% if false && !instruction.text.blank? %>
                        <p><%= instruction.text %></p>
                    <% end %>
                    <% if !instruction.image_url.blank? %>
                        <img src="<%= instruction.image_url %>">
                    <% end %>
                    <% if !instruction.video_url.blank? %>
                        <p>Play video at <%= instruction.video_url %></p>
                    <% end %>
                    <% if !instruction.avatar.nil? %>
                        <img src= "<%=instruction.avatar.url %>" >
                    <% end %>
                    <hr>
                    <span class="pull-right text-muted small"><em><%= link_to "Edit", edit_instruction_path(instruction), remote: true %> / <%= link_to "Add answer", new_instruction_answer_path(instruction), remote: true %> / <%= link_to "Delete", instruction_path(instruction), method: :delete, remote: true, data: {confirm: "Are you sure?"} %></em></span>
                    <br/>
                    <span class="pull-right text-muted small"><em>position: <%= instruction.display_index %> (<%= link_to "move", edit_instruction_path(instruction), remote: true %>)</em></span>
                </div>
            </div>
        </div>
    </div>
</li>